* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* shared style */
.heading-logo {
    color: #3A3A3A;
    font-size: 1.5rem;
}

.card {
    padding: 17px;
    box-shadow: 0 0 20px rgba(175, 175, 175, 0.5);
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05) translateY(-5px);
    border: 2px solid #E02C6D;
    box-shadow: 0 0 20px rgba(250, 7, 100, 0.5);
}


/* main style  */

/* navber */
#navber {
    max-width: 1200px;
    margin: 87px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}


.menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero section */
#hero-section {
    max-width: 1200px;
    margin: 50px auto 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-heading {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-heading span {
    color: #E02C6D;
}

.hero-para {
    font-weight: 600;
    color: #3A3A3A;
    max-width: 505px;
    margin-bottom: 16px;
}

.pre-btn {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 41px;
    border: 2px solid transparent;
    outline: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pre-btn:hover {
    background-color: #FFFFFF;
    color: #E02C6D;
    border: 2px solid #E02C6D;
    box-shadow: 0 0 10px rgb(224, 44, 109, 0.2);
}

.img-content img {
    background-image: url(images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* company logo */

#company-logo {
    overflow: hidden;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
    background: #fff;
    max-width: 1140px;
    /* border-top: 2px solid gray;
    border-bottom: 2px solid gray; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 -1px 0 #ccc, 0 1px 0 #ccc;
}

.logo-track {
    display: flex;
    gap: 5rem;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.logo-track img {
    width: auto;
    flex-shrink: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#company-logo:hover .logo-track {
    animation-play-state: paused;
}

/* collection section  */

#collection-section {
    max-width: 1140px;
    margin: 100px auto;
    text-align: center;
}

.collection-heading {
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.collection-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 329px);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-areas:
        "card-1 card-2 card-3"
        "card-4 card-5 card-6"
        "card-7 card-8 card-9"; */
}

/* .item1 {
    grid-template-areas: card-1;
}

.item2 {
    grid-template-areas: card-2;
}

.item3 {
    grid-template-areas: card-3;
}

.item4 {
    grid-template-areas: card-4;
}

.item5 {
    grid-template-areas: card-5;
}

.item6 {
    grid-template-areas: card-6;
}

.item7 {
    grid-template-areas: card-7;
}

.item8 {
    grid-template-areas: card-8;
}

.item9 {
    grid-template-areas: card-9;
} */